:root, [data-color-mode=light] {
    --color-primer-black: #24292e;
    --color-primer-white: #fff;
    --color-primer-gray-0: #fafbfc;
    --color-primer-gray-1: #f6f8fa;
    --color-primer-gray-2: #e1e4e8;
    --color-primer-gray-3: #d1d5da;
    --color-primer-gray-4: #959da5;
    --color-primer-gray-5: #6a737d;
    --color-primer-gray-6: #586069;
    --color-primer-gray-7: #444d56;
    --color-primer-gray-8: #2f363d;
    --color-primer-gray-9: #24292e;
    --color-primer-blue-0: #f1f8ff;
    --color-primer-blue-1: #dbedff;
    --color-primer-blue-2: #c8e1ff;
    --color-primer-blue-3: #79b8ff;
    --color-primer-blue-4: #2188ff;
    --color-primer-blue-5: #0366d6;
    --color-primer-blue-6: #005cc5;
    --color-primer-blue-7: #044289;
    --color-primer-blue-8: #032f62;
    --color-primer-blue-9: #05264c;
    --color-primer-green-0: #f0fff4;
    --color-primer-green-1: #dcffe4;
    --color-primer-green-2: #bef5cb;
    --color-primer-green-3: #85e89d;
    --color-primer-green-4: #34d058;
    --color-primer-green-5: #28a745;
    --color-primer-green-6: #22863a;
    --color-primer-green-7: #176f2c;
    --color-primer-green-8: #165c26;
    --color-primer-green-9: #144620;
    --color-primer-yellow-0: #fffdef;
    --color-primer-yellow-1: #fffbdd;
    --color-primer-yellow-2: #fff5b1;
    --color-primer-yellow-3: #ffea7f;
    --color-primer-yellow-4: #ffdf5d;
    --color-primer-yellow-5: #ffd33d;
    --color-primer-yellow-6: #f9c513;
    --color-primer-yellow-7: #dbab09;
    --color-primer-yellow-8: #b08800;
    --color-primer-yellow-9: #735c0f;
    --color-primer-orange-0: #fff8f2;
    --color-primer-orange-1: #ffebda;
    --color-primer-orange-2: #ffd1ac;
    --color-primer-orange-3: #ffab70;
    --color-primer-orange-4: #fb8532;
    --color-primer-orange-5: #f66a0a;
    --color-primer-orange-6: #e36209;
    --color-primer-orange-7: #d15704;
    --color-primer-orange-8: #c24e00;
    --color-primer-orange-9: #a04100;
    --color-primer-red-0: #ffeef0;
    --color-primer-red-1: #ffdce0;
    --color-primer-red-2: #fdaeb7;
    --color-primer-red-3: #f97583;
    --color-primer-red-4: #ea4a5a;
    --color-primer-red-5: #d73a49;
    --color-primer-red-6: #cb2431;
    --color-primer-red-7: #b31d28;
    --color-primer-red-8: #9e1c23;
    --color-primer-red-9: #86181d;
    --color-primer-purple-0: #f5f0ff;
    --color-primer-purple-1: #e6dcfd;
    --color-primer-purple-2: #d1bcf9;
    --color-primer-purple-3: #b392f0;
    --color-primer-purple-4: #8a63d2;
    --color-primer-purple-5: #6f42c1;
    --color-primer-purple-6: #5a32a3;
    --color-primer-purple-7: #4c2889;
    --color-primer-purple-8: #3a1d6e;
    --color-primer-purple-9: #29134e;
    --color-primer-pink-0: #ffeef8;
    --color-primer-pink-1: #fedbf0;
    --color-primer-pink-2: #f9b3dd;
    --color-primer-pink-3: #f692ce;
    --color-primer-pink-4: #ec6cb9;
    --color-primer-pink-5: #ea4aaa;
    --color-primer-pink-6: #d03592;
    --color-primer-pink-7: #b93a86;
    --color-primer-pink-8: #99306f;
    --color-primer-pink-9: #6d224f;
    --color-mark-bg: rgba(26, 137, 23, 0.1);
    --color-table-row-even-bg: #fafbfc;
}

@media (prefers-color-scheme: light) {
    [data-color-mode=auto] {
        --color-primer-black: #24292e;
        --color-primer-white: #fff;
        --color-primer-gray-0: #fafbfc;
        --color-primer-gray-1: #f6f8fa;
        --color-primer-gray-2: #e1e4e8;
        --color-primer-gray-3: #d1d5da;
        --color-primer-gray-4: #959da5;
        --color-primer-gray-5: #6a737d;
        --color-primer-gray-6: #586069;
        --color-primer-gray-7: #444d56;
        --color-primer-gray-8: #2f363d;
        --color-primer-gray-9: #24292e;
        --color-primer-blue-0: #f1f8ff;
        --color-primer-blue-1: #dbedff;
        --color-primer-blue-2: #c8e1ff;
        --color-primer-blue-3: #79b8ff;
        --color-primer-blue-4: #2188ff;
        --color-primer-blue-5: #0366d6;
        --color-primer-blue-6: #005cc5;
        --color-primer-blue-7: #044289;
        --color-primer-blue-8: #032f62;
        --color-primer-blue-9: #05264c;
        --color-primer-green-0: #f0fff4;
        --color-primer-green-1: #dcffe4;
        --color-primer-green-2: #bef5cb;
        --color-primer-green-3: #85e89d;
        --color-primer-green-4: #34d058;
        --color-primer-green-5: #28a745;
        --color-primer-green-6: #22863a;
        --color-primer-green-7: #176f2c;
        --color-primer-green-8: #165c26;
        --color-primer-green-9: #144620;
        --color-primer-yellow-0: #fffdef;
        --color-primer-yellow-1: #fffbdd;
        --color-primer-yellow-2: #fff5b1;
        --color-primer-yellow-3: #ffea7f;
        --color-primer-yellow-4: #ffdf5d;
        --color-primer-yellow-5: #ffd33d;
        --color-primer-yellow-6: #f9c513;
        --color-primer-yellow-7: #dbab09;
        --color-primer-yellow-8: #b08800;
        --color-primer-yellow-9: #735c0f;
        --color-primer-orange-0: #fff8f2;
        --color-primer-orange-1: #ffebda;
        --color-primer-orange-2: #ffd1ac;
        --color-primer-orange-3: #ffab70;
        --color-primer-orange-4: #fb8532;
        --color-primer-orange-5: #f66a0a;
        --color-primer-orange-6: #e36209;
        --color-primer-orange-7: #d15704;
        --color-primer-orange-8: #c24e00;
        --color-primer-orange-9: #a04100;
        --color-primer-red-0: #ffeef0;
        --color-primer-red-1: #ffdce0;
        --color-primer-red-2: #fdaeb7;
        --color-primer-red-3: #f97583;
        --color-primer-red-4: #ea4a5a;
        --color-primer-red-5: #d73a49;
        --color-primer-red-6: #cb2431;
        --color-primer-red-7: #b31d28;
        --color-primer-red-8: #9e1c23;
        --color-primer-red-9: #86181d;
        --color-primer-purple-0: #f5f0ff;
        --color-primer-purple-1: #e6dcfd;
        --color-primer-purple-2: #d1bcf9;
        --color-primer-purple-3: #b392f0;
        --color-primer-purple-4: #8a63d2;
        --color-primer-purple-5: #6f42c1;
        --color-primer-purple-6: #5a32a3;
        --color-primer-purple-7: #4c2889;
        --color-primer-purple-8: #3a1d6e;
        --color-primer-purple-9: #29134e;
        --color-primer-pink-0: #ffeef8;
        --color-primer-pink-1: #fedbf0;
        --color-primer-pink-2: #f9b3dd;
        --color-primer-pink-3: #f692ce;
        --color-primer-pink-4: #ec6cb9;
        --color-primer-pink-5: #ea4aaa;
        --color-primer-pink-6: #d03592;
        --color-primer-pink-7: #b93a86;
        --color-primer-pink-8: #99306f;
        --color-primer-pink-9: #6d224f;
        --color-mark-bg: rgba(26, 137, 23, 0.1);
        --color-table-row-even-bg: #fafbfc;
    }
}

[data-color-mode=dark] {
    --color-primer-white: #24292e;
    --color-primer-black: #e1e4e8;
    --color-primer-gray-9: #fafbfc;
    --color-primer-gray-8: #f6f8fa;
    --color-primer-gray-7: #e1e4e8;
    --color-primer-gray-6: #d1d5da;
    --color-primer-gray-5: #959da5;
    --color-primer-gray-4: #6a737d;
    --color-primer-gray-3: #586069;
    --color-primer-gray-2: #444d56;
    --color-primer-gray-1: #2f363d;
    --color-primer-gray-0: #24292e;
    --color-primer-blue-9: #f1f8ff;
    --color-primer-blue-8: #dbedff;
    --color-primer-blue-7: #c8e1ff;
    --color-primer-blue-6: #79b8ff;
    --color-primer-blue-5: #2188ff;
    --color-primer-blue-4: #0366d6;
    --color-primer-blue-3: #005cc5;
    --color-primer-blue-2: #044289;
    --color-primer-blue-1: #032f62;
    --color-primer-blue-0: #05264c;
    --color-primer-green-9: #f0fff4;
    --color-primer-green-8: #dcffe4;
    --color-primer-green-7: #bef5cb;
    --color-primer-green-6: #85e89d;
    --color-primer-green-5: #34d058;
    --color-primer-green-4: #28a745;
    --color-primer-green-3: #22863a;
    --color-primer-green-2: #176f2c;
    --color-primer-green-1: #165c26;
    --color-primer-green-0: #144620;
    --color-primer-yellow-9: #fffdef;
    --color-primer-yellow-8: #fffbdd;
    --color-primer-yellow-7: #fff5b1;
    --color-primer-yellow-6: #ffea7f;
    --color-primer-yellow-5: #ffdf5d;
    --color-primer-yellow-4: #ffd33d;
    --color-primer-yellow-3: #f9c513;
    --color-primer-yellow-2: #dbab09;
    --color-primer-yellow-1: #b08800;
    --color-primer-yellow-0: #735c0f;
    --color-primer-orange-9: #fff8f2;
    --color-primer-orange-8: #ffebda;
    --color-primer-orange-7: #ffd1ac;
    --color-primer-orange-6: #ffab70;
    --color-primer-orange-5: #fb8532;
    --color-primer-orange-4: #f66a0a;
    --color-primer-orange-3: #e36209;
    --color-primer-orange-2: #d15704;
    --color-primer-orange-1: #c24e00;
    --color-primer-orange-0: #a04100;
    --color-primer-red-9: #ffeef0;
    --color-primer-red-8: #ffdce0;
    --color-primer-red-7: #fdaeb7;
    --color-primer-red-6: #f97583;
    --color-primer-red-5: #ea4a5a;
    --color-primer-red-4: #d73a49;
    --color-primer-red-3: #cb2431;
    --color-primer-red-2: #b31d28;
    --color-primer-red-1: #9e1c23;
    --color-primer-red-0: #86181d;
    --color-primer-purple-9: #f5f0ff;
    --color-primer-purple-8: #e6dcfd;
    --color-primer-purple-7: #d1bcf9;
    --color-primer-purple-6: #b392f0;
    --color-primer-purple-5: #8a63d2;
    --color-primer-purple-4: #6f42c1;
    --color-primer-purple-3: #5a32a3;
    --color-primer-purple-2: #4c2889;
    --color-primer-purple-1: #3a1d6e;
    --color-primer-purple-0: #29134e;
    --color-primer-pink-9: #ffeef8;
    --color-primer-pink-8: #fedbf0;
    --color-primer-pink-7: #f9b3dd;
    --color-primer-pink-6: #f692ce;
    --color-primer-pink-5: #ec6cb9;
    --color-primer-pink-4: #ea4aaa;
    --color-primer-pink-3: #d03592;
    --color-primer-pink-2: #b93a86;
    --color-primer-pink-1: #99306f;
    --color-primer-pink-0: #6d224f;
    --color-mark-bg: rgba(190, 245, 203, 0.1);
    --color-table-row-even-bg: #20252a;
}

@media (prefers-color-scheme: dark) {
    [data-color-mode=auto] {
        --color-primer-white: #24292e;
        --color-primer-black: #e1e4e8;
        --color-primer-gray-9: #fafbfc;
        --color-primer-gray-8: #f6f8fa;
        --color-primer-gray-7: #e1e4e8;
        --color-primer-gray-6: #d1d5da;
        --color-primer-gray-5: #959da5;
        --color-primer-gray-4: #6a737d;
        --color-primer-gray-3: #586069;
        --color-primer-gray-2: #444d56;
        --color-primer-gray-1: #2f363d;
        --color-primer-gray-0: #24292e;
        --color-primer-blue-9: #f1f8ff;
        --color-primer-blue-8: #dbedff;
        --color-primer-blue-7: #c8e1ff;
        --color-primer-blue-6: #79b8ff;
        --color-primer-blue-5: #2188ff;
        --color-primer-blue-4: #0366d6;
        --color-primer-blue-3: #005cc5;
        --color-primer-blue-2: #044289;
        --color-primer-blue-1: #032f62;
        --color-primer-blue-0: #05264c;
        --color-primer-green-9: #f0fff4;
        --color-primer-green-8: #dcffe4;
        --color-primer-green-7: #bef5cb;
        --color-primer-green-6: #85e89d;
        --color-primer-green-5: #34d058;
        --color-primer-green-4: #28a745;
        --color-primer-green-3: #22863a;
        --color-primer-green-2: #176f2c;
        --color-primer-green-1: #165c26;
        --color-primer-green-0: #144620;
        --color-primer-yellow-9: #fffdef;
        --color-primer-yellow-8: #fffbdd;
        --color-primer-yellow-7: #fff5b1;
        --color-primer-yellow-6: #ffea7f;
        --color-primer-yellow-5: #ffdf5d;
        --color-primer-yellow-4: #ffd33d;
        --color-primer-yellow-3: #f9c513;
        --color-primer-yellow-2: #dbab09;
        --color-primer-yellow-1: #b08800;
        --color-primer-yellow-0: #735c0f;
        --color-primer-orange-9: #fff8f2;
        --color-primer-orange-8: #ffebda;
        --color-primer-orange-7: #ffd1ac;
        --color-primer-orange-6: #ffab70;
        --color-primer-orange-5: #fb8532;
        --color-primer-orange-4: #f66a0a;
        --color-primer-orange-3: #e36209;
        --color-primer-orange-2: #d15704;
        --color-primer-orange-1: #c24e00;
        --color-primer-orange-0: #a04100;
        --color-primer-red-9: #ffeef0;
        --color-primer-red-8: #ffdce0;
        --color-primer-red-7: #fdaeb7;
        --color-primer-red-6: #f97583;
        --color-primer-red-5: #ea4a5a;
        --color-primer-red-4: #d73a49;
        --color-primer-red-3: #cb2431;
        --color-primer-red-2: #b31d28;
        --color-primer-red-1: #9e1c23;
        --color-primer-red-0: #86181d;
        --color-primer-purple-9: #f5f0ff;
        --color-primer-purple-8: #e6dcfd;
        --color-primer-purple-7: #d1bcf9;
        --color-primer-purple-6: #b392f0;
        --color-primer-purple-5: #8a63d2;
        --color-primer-purple-4: #6f42c1;
        --color-primer-purple-3: #5a32a3;
        --color-primer-purple-2: #4c2889;
        --color-primer-purple-1: #3a1d6e;
        --color-primer-purple-0: #29134e;
        --color-primer-pink-9: #ffeef8;
        --color-primer-pink-8: #fedbf0;
        --color-primer-pink-7: #f9b3dd;
        --color-primer-pink-6: #f692ce;
        --color-primer-pink-5: #ec6cb9;
        --color-primer-pink-4: #ea4aaa;
        --color-primer-pink-3: #d03592;
        --color-primer-pink-2: #b93a86;
        --color-primer-pink-1: #99306f;
        --color-primer-pink-0: #6d224f;
        --color-mark-bg: rgba(190, 245, 203, 0.1);
        --color-table-row-even-bg: #20252a;
    }
}